* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .main_section {
    border: 5px solid rgb(244, 19, 143);
    background-color: #62e411;
    color: #5c08b0;
    font-family: "Briem Hand", cursive;
  }
  
  #heading {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 3em;
  }
  
  #sub_heading {
    text-align: center;
    color: rgb(171, 199, 10);
    font-size: 3em;
  }
  
  img {
    display: block;
    width: 300px;
    margin: 30px auto;
    border-radius: 50%;
  }
  
  .paragraph {
    padding: 10px;
    text-align: justify;
  }